body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #606c76;
}

.title {
    font-size: 3em;
    font-weight: lighter;
    margin: 0.5em 0;
}

.para {
    font-weight: lighter;
    margin: 0.5em 0;
}

.header {
    background-color: #f4f5f6
}

.header-container {
    padding: 8vw;
}

.header-button-container {
    padding: 1em 0;
}

.header-button {
    margin: 0.2em;
    border: 0.1rem solid #9b4dca;
    border-radius: 0.3em;
    background-color: transparent;
    color: #9b4dca;
    padding: 1em 4em;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.5em;
    text-transform: uppercase;
    text-decoration: none;
}

.header-button:hover {
    opacity: 0.8;
}

.header-button-highlighted {
    color: #fff;
    background-color: #9b4dca;
}

.main-container {
    padding: 8vw;
}

@media screen and (min-width:800px) {
    body {
        font-size: 1.5em;
    }
}
