/*Copied from https://codepo8.github.io/css-fork-on-github-ribbon/*/

#ribbon {
    font-size: 0.8rem;
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 10em;
    overflow: hidden;
    height: 10em;
    z-index: 9999;
}

#ribbon a {
    width: 10em;
    top: 3em;
    right: -3em;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 0.2em 2em;
    line-height: 2em;
    position: absolute;
    transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

#ribbon a:hover {
    background: #9b4dca;
    color: #fff;
}

#ribbon a::before, #ribbon a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}

#ribbon a::after {
    bottom: 1px;
    top: auto;
}

@media screen and (min-width:600px) {
    #ribbon {
        font-size: 1.2rem;
    }
}
